# Include the license file
include LICENSE.txt

include wordbatch/__init__.py
include wordbatch/wordbatch.pyx
include wordbatch/MurmurHash3.h
include wordbatch/MurmurHash3.cpp
include wordbatch/models/__init__.py
include wordbatch/models/ftrl.pyx

include scripts/wordbag_regressor.py
include scripts/wordhash_regressor.py
include scripts/wordseq_regressor.py
include scripts/wordvec_regressor.py
include scripts/classify_airline_sentiment.py

include data/Tweets.csv