# Include the license file
include LICENSE.txt

include wordbatch.pyx
include wordbag_regressor.py
include wordhash_regressor.py
include wordseq_regressor.py
include wordvec_regressor.py
include classify_airline_sentiment.py

include MurmurHash3.h

include Tweets.csv